@import url('../fonts/font-face.css');
html {
  font-size: 1rem;
}

/* @include media-breakpoint-up(sm) {
  html {
    font-size: .6rem;
  }
}

@include media-breakpoint-up(md) {
  html {
    font-size: .8rem;
  }
}

@include media-breakpoint-up(lg) {
  html {
    font-size: 1rem;
  } */
html {
	height: 100%;
}
body {
	font-family: 'Nunito', sans-serif;
}
.backthemed {
	background: linear-gradient(to right,#FCD19A,#FF5722);
	padding: 4rem 0;
	height: 100%;
}
a {
	color: unset;
}
a:hover{
	color: unset;
	text-decoration: unset;
}
section#intro .card{
	background-image: url(../img/resume-bg.jpg);
}
.theme-card{
	border-radius: .8rem;
	padding: 2rem;
	background-size: cover;
}
.brand {
	font-weight: 800;
}
nav.top-nav {
	display: flex;
	justify-content: space-between;
	font-size: 1.2rem;
}
.has-cursor {
	cursor: pointer;
}
div#minimenu {
	z-index: 9999;
	min-width: 12rem;
	padding: 1rem;
	border-radius: .8rem;
	position: fixed;
	display: none;
	right: 3rem;
	top: 8rem;
	background-color: rgba(245, 246, 247, 0.9);
}
div#minimenu.show {
	display: block;
}
.mininav,.social-links {
	display: flex;
	justify-content: space-between;
}
.list-no-style {
	list-style: none;
}
.list-no-style li {
	padding-bottom: .6rem;
}
.intro-title {
	padding: 8rem 2rem;
	font-weight: 700;
}