body {
    font-family: "Nunito";
    padding-top: 100px;
    font-size: 20px;
}
.navbar{
    padding: 20px;
}
.intro {
    font-weight: bold;
    font-size: 20px;
}
.name {
    font-weight: bolder;
    font-size: 50px;
}
.description {
    padding: 10px 10px;
    font-size: 20px;
}
.page-section {
    padding-bottom: 10px;
    transition: all 0.3s ease-in
}

.card {
    padding: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.card-text {
    padding: 40px 0px 40px 0px;
    color: #A6918A;
}
.expertise {
    font-size: 100px;
}
.titles {
    font-size: 40px;
    padding: 80px 0px 80px 20px;
}
.subtitles {
    font-size: 30px;
    padding-bottom: 20px;
    padding-top: 20px;
}
a:hover {
    text-decoration: unset;
    color: #03C03C;
}
a {
    font-weight: bold;
}
.works {
    font-size: 70px;
}
.card-title {
    padding: 30px 0px 20px 0px;
    font-weight: bold;
    font-size: 25px;
}
kbd {
    font-size: 15px;
    font-weight: bold;
    color: #000000;
    padding: 10px 5px 10px 5px;
    background-color: #D0D0D0;
}
#about{
    width: 100%;
    padding-bottom: 0px;
    background: linear-gradient(to bottom,#ffffff,rgb(240, 240, 240));
}
.education {
    font-size: 100px;
    padding-right: 200px;
}
.subsection {
    padding-bottom: 70px;
}
.bar-title {
    font-weight: bold;
    font-size: 15px;
}
.bars {
    padding: 0px 20px 50px 20px;
}
.q-title, .e-title {
    font-weight: bold;
    font-size: 25px;
    padding: 0px 5px 20px 0px;
}
.q-subtitle, .e-subtitle {
    font-size: 20px;
}
.e-location {
    font-size: 18px;
}
.q-date {
    font-size: 20px;
}
.q-details {
    border-left: 4px solid #007bFF;
    padding-left: 40px;
}
#expertise .lnr {
    color: #007bFF;
}
#contact .lnr {
    font-weight: bold;
}
#contact-me {
    background-color: #F2F2F2; 
    padding: 40px;
    border-radius: 10px;
}
label{
    font-weight: bold;
}
.form-control {
    padding: 10px;
    border-radius: 10px;
    font-family: Nunito;
}
.contact-details {
    padding-top: 100px;
    padding-bottom: 50px;
}
.contact-h {
    font-weight: bold;
    font-size: 25px;
}
#social-list li {
    list-style: none;
    padding: 10px;
}
#social-list li a {
    color: unset;
    font-size: 30px;
}
#social-list li a:hover {
    color: #007bFF;
}
footer {
    padding-top: 40px;
}
.bg-light{
    background-color: #ffffff!important;
}
.nav-link {
    color: #007bFF!important;
}
.nav-link:hover{
    color: #03C03C!important;
}
.nav-link:hover{
    border-bottom: solid 3px #03C03C;
}
main #content {
    -webkit-overflow-scrolling: touch;
}
.progress-bar {
    background-color: #007bFF;
}
.btn-primary {
    background-color: #ffffff;
    border-color: #03C03C;
    color: #03C03C;
    
}
.marker {
    color: #007bFF;
    font-size: 20px;
    padding-right: 5px;
    font-weight: bolder;
    border-width: 2px;
}

.btn-primary:hover{
    color: #ffffff;
    background-color: #03C03C;
    border-color: #03C03C; 
}
.btn-success {
    background-color: #03C03C;
    border-color: #03C03C;
}
.btn-success:hover{
    background-color: #ffffff;
    border-color: #03C03C;
    color: #03C03C;
}
.btn {
    border-width: 2px;
    font-weight: bold;
    padding: 10px 30px 10px 30px;
    border-radius: 25px;
}
#top-scroll {
    display: none;
    right: 40px;
    bottom: 40px;
    z-index: 99;
    padding: 16px 20px 16px 20px;
    position: fixed;
    background-color: #03C03C;
    color: #ffffff;
    /* transition: all 0.5s ease-in; */
}
#left-links {
    display:block;
    left: 20px;
    position: fixed;
    bottom: auto;
    top:auto;
    z-index: 100;
    padding: 16px 20px 16px 20px;
    background-color: #03C03C;
    color: #ffffff;
}
#top-scroll:hover{
    background-color: #007bFF;
    color: #ffffff; 
}
.col-sm {
    padding: 15px!important;
}