{{define "main" }}
<article class="prose prose-sm sm:prose lg:prose-lg xl:prose-xl min-w-full leading-relaxed">
    <h1 style="margin-bottom: 1rem;">{{.Title}}</h1>
    <p class="text-gray-400 text-base">
        <span>{{.Date.Format "03.01.2006"}} — </span>
        <span>{{.ReadingTime}} minute read</span>
    </p>
    <p>{{ .Content }}</p>
</article>
<div class="pt-10 space-x-2 flex justify-start">
    {{ range (.GetTerms "tags") }}
    <span class="text-gray-500 bg-gray-100 py-2 px-3 text-sm rounded-sm"><a class="mx-auto"
            href="{{ .Permalink }}">{{.LinkTitle}}</a></span>
    {{ end }}
</div>
{{end}}
